.footer {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;

  background-color: #111;
  color: #ccc;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 0.9rem;
  margin-top: 2rem;
  box-sizing: border-box;
}

.footer-links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  word-break: break-word;
}

.footer-links a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
  word-break: break-word;
  max-width: 100%;
}

.footer-links a:hover {
  color: white;
}

.footer-links .socials-img {
  height: 70px;
  width: 70px;
}


@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    gap: 0.7rem;
  }
}


